* {
    cursor: url("../cursors/use3.cur"), auto;
    font-family: "Lucida Console", "Courier New", monospace;
}
body {
    font-family: 'Lato', sans-serif;
    cursor: url("../cursors/use3.cur"), auto;
}

.dark_mode {
    background-color: black;
    color: white;
}

h1 {
      font-size: 300%;
      display: flex;
      justify-content: center;
      align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#picOfMe {
    float: right;
    width: calc(100% - 100px)-100px;

}

#parag {
    float: left;
    width: 500px;
}

.edu {
    display: block;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 300px;
    border-radius: 30px;
}


#parent1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.langs {
    margin: auto;
    width: 600px;
    text-align: center;
    /* border: 5px solid; */
}

.projs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 800px;
    /* border: 5px solid; */
}

.projs1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 400px;
    /* border: 5px solid; */
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    width: calc(100% - 100px);
}

.vertical-center {
    height: 200px;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.media {
    height:50%;
    position: relative;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-top: -9px;
}

.tier {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /*text-align: center; */
    width: 900px;
}

a:link {
    color: blue;
    cursor: url("../cursors/use30.cur"), auto;
}
  
a:visited {
    color: blue;
}