<!DOCTYPE html>
<html>
    <title>Maya's Portfolio</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/avatar_mayo.jpeg"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="../index.html">Home</a>
          <a href="templates/expirence.html">Experience</a>
          <a href="templates/projects.html">Projects</a>
          <a href="https://github.com/coldmayo">Github</a>
          <a href="templates/contact.html">Contact</a>
        </div>
    </div>
    <body>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <h1>About Me</h1>
        <script src="../javascript/navMenu.js"></script> 
    </body>
</html>