<!DOCTYPE html>
<html>
    <title>Maya's Portfolio</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/avatar_mayo.jpeg"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="../index.html">Home</a>
          <a href="blog.html">Blog</a>
          <a href="expirence.html">Experience</a>
          <a href="projects.html">Projects</a>
          <a href="MayaWallachCV.pdf" target="_blank">CV</a>
          <a href="contact.html">Contact</a>
        </div>
    </div>
    <body>
        <span style="font-size:30px;cursor:url('../cursors/gam874.cur'), auto;" onclick="openNav()">&#9776;</span>
        <span style="float: right;" onclick="dark()"><img id="icon" style="height: 20px; width: 20px;cursor:url('../cursors/gam874.cur'), auto;" src="imgs/moon.png"></span>
        <h1>About Me</h1>
        <p>
            <div id="parent">
                <div id="picOfMe">
                    <img src="../imgs/mayo.png" alt="me" style="float:right;width:500px;height:500px;">
                </div>
                <div id="parag">
                    <br/>
                    <p>
                    Hi, I'm Maya and I am a highly skilled and innovative student with a love of learning. 
                    I thrive in collaborative environments, leveraging my exceptional problem-solving abilities to design and implement high-quality software.
                    With a few years of professional experience and almost a decade of hobbyist experience,
                    I am committed to delivering cutting-edge solutions that address complex challenges.
                    </p>
                    <ul>
                        <li>Birthday: 10 September 2005</li>
                        <li>Phone: +1 (540)735-6349</li>
                        <li>City: East Lansing, MI (School)</li>
                        <li>Email: (School) wallachm@msu.edu (Personal) coldmayo@proton.me</li>
                    </ul> 
                    <h2>Interests</h2>
                    <ul>
                        <li>Machine Learning</li>
                        <li>Computer Systems</li>
                        <li>Technology</li>
                        <li>Mayonnaise</li>
                        <li>Video Games</li>
                    </ul> 
                </div>
            </div>
        </p>
        <script defer src="../javascript/main.js"></script>
        <script defer src="../javascript/navMenu.js"></script>
    </body>
</html>