<!DOCTYPE html>
<html>
    <title>Maya's Portfolio</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/avatar_mayo.jpeg"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="../index.html">Home</a>
          <a href="about.html">About</a>
          <a href="expirence.html">Experience</a>
          <a href="projects.html">Projects</a>
          <a href="MayaWallachCV.pdf" target="_blank">CV</a>
          <a href="contact.html">Contact</a>
        </div>
    </div>
    <body>
        <span style="font-size:30px;cursor:url('../cursors/gam874.cur'), auto;" onclick="openNav()">&#9776;</span>
        <span style="float: right;" onclick="dark()"><img id="icon" style="height: 20px; width: 20px;cursor:url('../cursors/gam874.cur'), auto;" src="imgs/moon.png"></span>
        <h1>My Blog</h1>
        <h4>My thoughts on just about anything</h4><br><br>
        <div class="articles" style="text-align: center;">
            <i>March 2 2024</i>
            <h3><a href="../articles/warhammerRules.html" target="_blank">A Compact Warhammer 40k Rules Guide (10th Edition)</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>October 3 2023</i>
            <h3><a href="../articles/vsBill.html" target="_blank">Why I don't like Microsoft</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>September 20 2023</i>
            <h3><a href="../articles/textbooks.html" target="_blank">My Favorite Textbooks</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>August 14 2023</i>
            <h3><a href="../articles/klaud.html" target="_blank">Why I love Klaud</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>August 7 2023</i>
            <h3><a href="../articles/tierlist.html" target="_blank">Programming Language Tier List</a></h3>
        </div>
    </body>
    <script src="../javascript/main.js"></script>
    <script src="../javascript/navMenu.js"></script>
</html>