<!DOCTYPE html>
<html>
    <title>Maya's Portfolio</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/avatar_mayo.jpeg"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="../index.html">Home</a>
          <a href="about.html">About</a>
		  <a href="songOfTheMoment.html">Favorite Song</a>
          <a href="expirence.html">Experience</a>
          <a href="projects.html">Projects</a>
          <a href="MayaResume.pdf" target="_blank">Resume</a>
          <a href="MayaCV-2026.pdf" target="_blank">CV</a>
          <a href="contact.html">Contact</a>
        </div>
    </div>
    <body>
        <span style="font-size:30px;cursor:url('../cursors/gam874.cur'), auto;" onclick="openNav()">&#9776;</span>
        <span style="float: right;" onclick="dark()"><img id="icon" style="height: 20px; width: 20px;cursor:url('../cursors/gam874.cur'), auto;" src="imgs/moon.png"></span>
        <h1>My Blog</h1>
        <h4>My thoughts on just about anything</h4><br><br>
        <h2>Favorite Things</h2>
        <div class="articles" style="text-align: center;">
			<h3><a href="https://letterboxd.com/coldmayo/list/my-top-100/" target="_blank">Top 100 Favorite Movies</a></h3>
        </div>
		<div class="articles" style="text-align: center;">
			<h3><a href="https://rateyourmusic.com/list/coldmayo/my-top-100ish-albums-oat/" target="_blank">Top 100 Favorite Albums</a></h3>
        </div>
        <br><br>
        <div class="articles" style="text-align: center;">
            <i>July 6 2026</i>
            <h3><a href="../articles/klaud_synth_pt2.html" target="_blank">Making a Synth from Scratch Part 2</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>June 30 2026</i>
            <h3><a href="../articles/klaud_synth_pt1.html" target="_blank">Making a Synth from Scratch Part 1</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>July 7 2024</i>
            <h3><a href="../articles/kakounePlugins.html" target="_blank">How to make Kakoune Plugins</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>September 20 2023</i>
            <h3><a href="../articles/textbooks.html" target="_blank">My Favorite Textbooks</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>August 14 2023</i>
            <h3><a href="../articles/klaud.html" target="_blank">Why I love Klaud</a></h3>
        </div>
        <div class="articles" style="text-align: center;">
            <i>August 7 2023</i>
            <h3><a href="../articles/tierlist.html" target="_blank">Programming Language Tier List</a></h3>
        </div>
    </body>
    <script src="../javascript/main.js"></script>
    <script src="../javascript/navMenu.js"></script>
</html>
