<!DOCTYPE html>
<html>
    <title>Maya's Portfolio</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/avatar_mayo.jpeg"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="../index.html">Home</a>
          <a href="about.html">About</a>
          <a href="expirence.html">Experience</a>
          <a href="projects.html">Projects</a>
          <a href="https://github.com/coldmayo">Github</a>
        </div>
    </div>
    <body>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <h1>Contact Me</h1>
        <div class="media">
            <div class="GitHub" style="width: 450;padding: 75px;">
                <h3>GitHub</h3>
                <a href="https://github.com/coldmayo" target="_blank"><img src="../imgs/github.png" style="width:42px;height:42px;"></a><br><br>
                <h3>Phone</h3>
                <img src="../imgs/phone.png" style="width:42px;height:42px;"><br>
                <br>+1 (540)735-6349
            </div>
            <div class="Email" style="width: 250;padding: 75px;">
                <h3>Email</h3>
                <a href="mailto: wallachmayas@gmail.com" target="_blank"><img src="../imgs/mail.jpg" style="width:42px;height:42px;"></a><br><br>wallachmayas@gmail.com
                <h3>My Address</h3>
                <img src="../imgs/map.png" style="width:42px;height:42px;"><br>
                <br>20 Glen Oak Rd<br>
                Fredericksburg, VA 22405
            </div>
        </div>
    </body>
    <script defer src="../javascript/navMenu.js"></script> 
</html>