<!DOCTYPE html>
<html>
    <title>Maya's Portfolio</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/avatar_mayo.jpeg"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="../index.html">Home</a>
          <a href="about.html">About</a>
          <a href="blog.html">Blog</a>
          <a href="expirence.html">Experience</a>
          <a href="projects.html">Projects</a>
          <a href="MayaWallachCV.pdf" target="_blank">CV</a>
        </div>
    </div>
    <body>
        <span style="font-size:30px;cursor:url('../cursors/gam874.cur'), auto;" onclick="openNav()">&#9776;</span>
        <span style="float: right;" onclick="dark()"><img id="icon" style="height: 20px; width: 20px;cursor:url('../cursors/gam874.cur'), auto;" src="imgs/moon.png"></span>
        <h1>Contact Me</h1>
        <div class="media">
            <div class="GitHub" style="width: 450;padding: 75px;">
                <h3>GitHub</h3>
                <a href="https://github.com/coldmayo" target="_blank"><img src="imgs/github.png" id="github" style="width:42px;height:42px;cursor: url('../cursors/use30.cur'), auto;"></a><br><br>@coldmayo
                <h3>Phone</h3>
                <img src="imgs/phone.png" id="phone" style="width:42px;height:42px;"><br>
                <br>+1 (540)735-6349
            </div>
            <div class="Email" style="width: 250;padding: 75px;">
                <h3>Email</h3>
                <a href="mailto: coldmayo@proton.me" target="_blank"><img src="imgs/mail.jpg" id="mail" style="width:42px;height:42px;cursor: url('../cursors/use30.cur'), auto;"></a><br><br>coldmayo@proton.me
                <h3>Location</h3>
                <img src="imgs/map.png" id="map" style="width:42px;height:42px;"><br>
                <br>East Lansing, MI (School)<br>
                Fredericksburg, VA (Home)
            </div>
            <div class="LinkedIn" style="width: 450; padding: 75px;">
                <h3>LinkedIn</h3>
                <a href="https://www.linkedin.com/in/maya-wallach/" target="_blank"><img src="imgs/linkedin.png" id="LinkedIn" style="width:42px;height:42px;cursor: url('../cursors/use30.cur'), auto;"></a><br><br> Maya Wallach
            </div>
        </div>
    </body>
    <script defer src="../javascript/main.js"></script>
    <script defer src="../javascript/navMenu.js"></script>
</html>