<!DOCTYPE html>
<html>
    <title>Maya's Portfolio</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/avatar_mayo.jpeg"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="../index.html">Home</a>
          <a href="about.html">About</a>
          <a href="blog.html">Blog</a>
          <a href="projects.html">Projects</a>
          <a href="MayaWallachCV.pdf" target="_blank">CV</a>
          <a href="contact.html">Contact</a>
        </div>
    </div>
    <body>
        <span style="font-size:30px;cursor:url('../cursors/gam874.cur'), auto;" onclick="openNav()">&#9776;</span>
        <span style="float: right;" onclick="dark()"><img id="icon" style="height: 20px; width: 20px;cursor:url('../cursors/gam874.cur'), auto;" src="imgs/moon.png"></span>
        <h1>Experience</h1>
        <h2>Education</h2>
        <div class="edu">
            <br>
            <h3 style="text-align: center;">Undergrad: Physics</h3>
            <h4>Michigan State University</h4>
            <p>2020 - Present</p><br>
        </div>

        <div class="jobs">
            <br>
            <h2>Jobs</h2>
            <div id="parent1">
                <div class="edu">
                    <h3 style="text-align: center;">Physics Intern @ FermiLab</h3>
                    <h4 style="text-align: center;">May 2023 - Present</h4>
                    <p style="text-align: center;">
                        <ul>
                            <li>Made an Faster R-CNN to detect tracks in particle detector</li>
                            <li>Made a GAN to generate input data</li>
                            <li>Automated the labeling process for training data</li>
                        </ul> 
                    </p><br>
                </div>
    
                <div class="edu">
                    <br>
                    <h3 style="text-align: center;">Physics Intern @ Los Alamos</h3>
                    <h4 style="text-align: center;">September 2021 - August 2022</h4>
                    <p style="text-align: center;">
                        <ul>
                            <li>Contributed to the team by representing the k-L turbulence model in Python using ODE's</li>
                            <li>Add meaningful updates to the code to create a working model </li>
                            <li>Present updates weekly in team meetings</li>
                        </ul> 
                    </p><br>
                </div>
            </div>
            <div id="parent1">
                <div class="edu">
                    <br>
                    <h3 style="text-align: center;">REU Student @ IRIS-HEP / Davidson College</h3>
                    <h4 style="text-align: center;">June 2022 - August 2022</h4>
                    <p>
                        <ul>
                            <li>Contributed to created an Unsupervised Machine Learning model that can perform event classification</li>
                            <li>Weekly presentations to strengthen presentation skills</li>
                            <li>Presented poster for summer project at the fall 2022 DNP meeting </li>
                        </ul> 
                    </p><br>
                </div>

                <div class="edu">
                    <br>
                    <h3 style="text-align: center;">Physics Intern @ Facility for Rare Isotope Beams</h3>
                    <h4 style="text-align: center;">August 2020 - Present</h4>
                    <p>
                        <ul>
                            <li>Utilizes numerous computer programs and data visualization tools to analyze large data sets</li>
                            <li>Presents test results in internal meetings and at conferences</li>
                            <li>Evaluates test results and presents plans for design optimization</li>
                        </ul> 
                    </p><br>
                </div>
            </div>
        </div>
        <br>
        <h2>Skills</h2>
        <div class="skills">
            <div class = "langs">
                <h3>Languages</h3>
                <img style="width: 100px;height: 100px;" src="../imgs/python.png">
                <img style="width: 100px;height: 100px;" src="../imgs/R.png">
                <img style="width: 100px;height: 100px;" src="../imgs/C++.png">
                <img style="width: 100px;height: 100px;" src="../imgs/C.png">
                <img style="width: 100px;height: 100px;" id="rust" src="imgs/rust.png">
                <img style="width: 100px;height: 100px;" src="../imgs/html.png">
                <img style="width: 100px;height: 100px;" src="../imgs/css.png">
                <img style="width: 100px;height: 100px;" src="../imgs/javascript.png">
                <img style="width: 100px;height: 100px;" src="../imgs/x86.png">
                <img style="width: 100px;height: 100px;" src="../imgs/sql.png">
            </div>

            <div class = "langs">
                <h3>Frameworks</h3>
                <img style="width: 100px;height: 100px;" src="../imgs/tensorf.png">
                <img style="width: 100px;height: 100px;" src="../imgs/pytorch.png">
                <img style="width: 150px;height: 100px;" src="../imgs/sklearn.png">
                <img style="width: 100px;height: 100px;" src="../imgs/opencv.png">
            </div>
            
            <div class="langs">
                <h3>Tools</h3>
                <img style="width: 100px;height: 100px;" src="../imgs/git.png">
                <img style="width: 100px;height: 100px;" src="../imgs/linux.png">
                <img style="width: 100px;height: 100px;" src="../imgs/jupyter.png">
            </div>
        </div>
    </body>
    <script defer src="../javascript/main.js"></script>
    <script defer src="../javascript/navMenu.js"></script>
</html>